<div class="update-form">
    <div class="form-group">
        <label for="input title">Movie ID</label>
        <input type="text" [(ngModel)]="movie.id" class="form-control">
    </div>
    <div class="form-group">
        <label for="input title">Title</label>
        <input type="text" [(ngModel)]="movie.title" class="form-control">
    </div>
    <div class="form-group">
        <label for="input duration">Duration</label>
        <input type="text" [(ngModel)]="movie.duration" class="form-control">
    </div>
    <div class="form-group">
        <label for="input genre">Genre</label>
        <input type="text" [(ngModel)]="movie.genre" class="form-control">
    </div>
    <div class="form-group">
        <label for="dropdown ratings">Rating (select one)</label>
        <select class="form-control" [(ngModel)]="movie.rating">
            <option>G</option>
            <option>PG</option>
            <option>PG-13</option>
            <option>R</option>
        </select>
    </div>
    <button type="button" (click)="processUpdate()" routerlink="/movies" class="btn btn-dark">Update</button>
</div>